
@media screen and (max-width: 576px) {


.container-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 360px;
    
}  
    

.container-menu{
    display: flex;
    margin: 0;      
    
}

.banner{
    
    background-size:contain;
    width: 100%;  
}   

.banner-img{
    display: none;
}

.banner-back{
    background: rgba(246, 228, 208, 0.50);
    width: 100%;
}



.bloco-suco{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.item3{
    display: none;
}


}