header{
    max-width: 1440px;
    margin: auto;

}

main{
    max-width: 1440px;
    margin: auto;
}

.container-logo{
    display: flex;    
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 12px solid #EC8922;
    background: #FFF;

}

.container-menu{
    display: flex;
    gap: 24px;
}



.menu__search-icon{

    display: flex;    
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;    
    background: rgba(255, 255, 255, 0.00);
    
    
}

.fa-magnifying-glass{
    margin-left: -30px;
}

.menu-input{
    display: flex;    
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    
}

.menu-burguer{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    font-size: 30px;
    padding-top: 32px;
}

.banner{
    display: flex;    
    height: 70%;
    padding: 180px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    background-image: url('../img/cel-banner.png');
    background-size: cover;
    background-position: 0 10%;
    
    
}

.banner-text{
    color: #000;
    font-family: Oswald;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-name{
    color: var(--Laranja-Escuro, #EC8922);
    font-family: Oswald;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-p{
    color: #000;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-img img{

    width: 208px;
    height: 192px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 16px;
    padding: 10px;
}

.banner-img{
    display: flex;
    gap: 20px;
    
}

.bloco-suco{
    display: flex;
    padding: 0px 16px;    
    justify-content: center;
    align-items: center;
    gap: 68px;
    background: var(--Laranja-Muito-Claro, #FFF9F3);
}

.h2{

    color: #000;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bloco-text{

    color: var(--Verde, #6DC35D);
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.bloco-suco-p{
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item1{
    border-top: 12px solid var(--Verde, #6DC35D);
}

.bloco-button{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid var(--Verde, #6DC35D);
    color: var(--Verde, #6DC35D);
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bloco-vitamina{
    display: flex;       
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 68px;
    
}

.item4{
    width: 610px;
    height: 701px;
}

.item5{
    display: flex;
    width: 610px; 
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-top: 12px solid var(--Laranja-Escuro, #EC8922);   
   

}

.bloco-vitamina-text{
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bloco-vitamina-p{
    color: var(--Verde, #6DC35D);
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button-vitamina{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #6DC35D;
    background: var(--Verde, #6DC35D);
    color: #FFF;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bloco-pitaya{
    display: flex;    
    padding: 8px 16px;
    align-items: center;
    justify-content: center;    
    background: var(--Laranja-Muito-Claro, #FFF9F3);

}

.bloco-pitaya-text{
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.bloco-pitaya-p{
    color: var(--Verde, #6DC35D);
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.bloco-mkt{

    display: flex;   
    height: auto;
    flex-direction: column;
    width: 100%;
    
}

.bloco-mkt h2{
    display: flex;
    margin-left: 490px;
}

.mkt-container{
    display: flex;
    padding: 32px 0px;    
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;

}

.mkt-img{
    width: 455px;
    height: 684px;
}

.bloco-mkt-text-img{
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;   
    width: 95%;

}

.mkt-txt{
    display: flex;
    flex-direction: column;
}

.bloco-mkt-p{
    color: var(--Verde, #6DC35D);
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.bloco-mkt-p1{
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form{

    display: flex;
    margin-left: 500px;
    margin-top: -500px;
}

label, input {
    display: block;
    
}

.form input{
    width: 100%;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Verde, #6DC35D);
    background: var(--White-White-10, #FFF);

}

.mkt-button{
    display: flex;
    width: 732px;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    margin-left: 300px;
}

.mkt-button-brinde{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #6DC35D;
    background: var(--Verde, #6DC35D);

}

.mkt-button-clear{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid var(--Verde, #6DC35D);
}

footer{

    display: flex;
    width: 100%;
    height: auto;
    padding: 16px  0px;    
    background: var(--Laranja-Muito-Claro, #FFF9F3);
    margin: 0;

}

.container-final{
    display: flex;    
    width: 100%;
}

.final-menu{

    display: flex;
    height: 293px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid ;

}

.final-menu h2{

    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.final-list{
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-adress{

    display: flex;
    height: 293px;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000;

}

.container-adress h2{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-adress-bloco{
    display: flex;
    gap: 10px;
}

.container-final h3{
    height: 29px;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.container-final p{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Contact{
    display: flex;
    height: 293px;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000;
}

.final-credit{

    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--Laranja-Muito-Claro, #FFF9F3);
    
}

.final-credit h4{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.final-credit p{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;  
}